@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 90%;
    margin: 0 auto;
}

/*// dark-theme.css*/
:root {
    --bg-color-dark: rgb(0, 0, 0);
    --text-color-light: #fff;
}

/*// light-theme.css*/
:root {
    --bg-color: #fff;
    --text-color-dark: #333;
}

.dark-theme{
    background-color: var(--bg-color);
    color: var(--text-color-dark);
}
.light-theme{
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color-dark);
}
